In [37]:
# Dataset cleaning done with IQR found on In [39]

import os
import tarfile
import urllib

import pandas as pd

PATH = "arp_mitm"

FILE = "ARP MitM_dataset-002.csv"
L_FILE = "ARP MitM_labels.csv"

csv_path = os.path.join(PATH, FILE)
dataset = pd.read_csv(csv_path, header=None)  

display(dataset.head())
display(dataset.info())
display(dataset.describe())

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
0,1.000000,1294.0,0.000000e+00,1.000000,1294.0,0.000000e+00,1.000000,1294.0,0.000000e+00,1.000000,...,0.000000e+00,0.0,0.0,1.000000,1294.0,0.000000,1294.0,0.000000e+00,0.0,0.0
1,1.000000,1514.0,0.000000e+00,1.000000,1514.0,0.000000e+00,1.000000,1514.0,0.000000e+00,1.000000,...,0.000000e+00,0.0,0.0,1.000000,1514.0,0.000000,1514.0,0.000000e+00,0.0,0.0
2,1.999505,1294.0,6.984919e-10,1.999703,1294.0,2.328306e-10,1.999901,1294.0,6.984919e-10,1.999990,...,0.000000e+00,0.0,0.0,1.999999,1294.0,0.000000,1294.0,0.000000e+00,0.0,0.0
3,2.998985,1294.0,9.313226e-10,2.999391,1294.0,4.656613e-10,2.999797,1294.0,6.984919e-10,2.999980,...,6.984919e-10,0.0,0.0,2.999998,1294.0,0.000015,1294.0,2.328306e-10,0.0,0.0
4,3.998061,1294.0,9.313226e-10,3.998836,1294.0,2.328306e-10,3.999612,1294.0,6.984919e-10,3.999961,...,2.328306e-10,0.0,0.0,3.999996,1294.0,0.000000,1294.0,0.000000e+00,0.0,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2504267 entries, 0 to 2504266
Columns: 115 entries, 0 to 114
dtypes: float64(115)
memory usage: 2.1 GB

None

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
count,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,...,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06,2.504267e+06
mean,3.161843e+02,1.263429e+03,1.629564e+05,5.206959e+02,1.263908e+03,1.624291e+05,1.542137e+03,1.264399e+03,1.618282e+05,1.508207e+04,...,1.618792e+05,-2.279080e-03,-7.277519e-07,2.433348e+04,1.264685e+03,3.848150e+02,1.319794e+03,1.617353e+05,-2.131455e-03,-5.309278e-07
std,1.261311e+02,2.731945e+02,4.387131e+04,2.018029e+02,2.730516e+02,4.250538e+04,5.917664e+02,2.729755e+02,4.140203e+04,5.965275e+03,...,4.570896e+04,1.849400e+00,6.071145e-04,6.679195e+03,2.771983e+02,1.050558e+02,7.498082e+01,4.563698e+04,1.538249e+00,5.666412e-04
min,1.000000e+00,6.000000e+01,0.000000e+00,1.000000e+00,6.000000e+01,0.000000e+00,1.000000e+00,6.000000e+01,0.000000e+00,1.000000e+00,...,0.000000e+00,-1.464452e+03,-4.688243e-01,1.000000e+00,6.000000e+01,0.000000e+00,6.000000e+01,0.000000e+00,-8.329919e+02,-2.887023e-01
25%,1.893583e+02,1.302018e+03,1.490105e+05,3.071747e+02,1.301232e+03,1.466209e+05,8.890711e+02,1.297967e+03,1.435192e+05,8.741032e+03,...,1.793071e+05,0.000000e+00,0.000000e+00,2.347740e+04,1.335240e+03,4.248047e+02,1.335240e+03,1.804590e+05,0.000000e+00,0.000000e+00
50%,3.604483e+02,1.328082e+03,1.727128e+05,6.178137e+02,1.331693e+03,1.754399e+05,1.921768e+03,1.336063e+03,1.789780e+05,1.945002e+04,...,1.809940e+05,0.000000e+00,0.000000e+00,2.763519e+04,1.340819e+03,4.254162e+02,1.340819e+03,1.809789e+05,0.000000e+00,0.000000e+00
75%,4.041041e+02,1.342751e+03,1.882200e+05,6.662270e+02,1.342305e+03,1.863478e+05,1.974742e+03,1.341165e+03,1.843493e+05,1.964070e+04,...,1.821485e+05,0.000000e+00,0.000000e+00,2.802381e+04,1.341263e+03,4.259399e+02,1.341263e+03,1.814248e+05,0.000000e+00,0.000000e+00
max,5.365877e+02,1.514000e+03,4.942291e+05,8.073135e+02,1.514000e+03,4.948259e+05,2.124893e+03,1.514000e+03,4.953075e+05,1.983936e+04,...,4.257562e+05,7.038125e+01,8.482200e-02,3.091260e+04,1.514000e+03,6.525000e+02,1.514000e+03,4.257562e+05,3.335587e+02,1.560442e-01

In [38]:
L_csv_path = os.path.join(PATH, L_FILE)
dataset_L = pd.read_csv(L_csv_path, dtype={"": int, "x": 'float64'})  

display(dataset_L.head())
display(dataset_L.info())
display(dataset_L.describe())

   Unnamed: 0    x
0           1  0.0
1           2  0.0
2           3  0.0
3           4  0.0
4           5  0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2504267 entries, 0 to 2504266
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   x           float64
dtypes: float64(1), int64(1)
memory usage: 38.2 MB

None

         Unnamed: 0             x
count  2.504267e+06  2.504267e+06
mean   1.252134e+06  4.573282e-01
std    7.229198e+05  4.981759e-01
min    1.000000e+00  0.000000e+00
25%    6.260675e+05  0.000000e+00
50%    1.252134e+06  0.000000e+00
75%    1.878200e+06  1.000000e+00
max    2.504267e+06  1.000000e+00

In [39]:
import numpy as np
import matplotlib as plt
from scipy import stats

# tried modifying the quatiles to increase the range of data used... then tried to decrease the range of data used
# nothing helped for this

#quartile 1
quartile_one = dataset.quantile(0.05)

#quartile 3
quartile_three = dataset.quantile(0.95)

#range of data between quartiles 3 and 1
innerquartilerange = quartile_three - quartile_one

#modfiying the data based on the IQR for the original dataset
dataset_filt = dataset[~((dataset < (quartile_one - 1.5 * innerquartilerange)) |(dataset > (quartile_three + 1.5 * innerquartilerange))).any(axis=1)]
dataset_L_filt = dataset_L[~((dataset < (quartile_one - 1.5 * innerquartilerange)) |(dataset > (quartile_three + 1.5 * innerquartilerange))).any(axis=1)]

#z_score = np.abs(stats.zscore(dataset))
#dataset_filt = dataset[(z_score < 3).all(axis=1)]
#dataset_L_filt = dataset_L[(z_score < 3).all(axis=1)]
    
print("original dataset:")
display(dataset.info())
display(dataset_L.info())
print("new with IQR outlier filtering:")
display(dataset_filt.info())
display(dataset_L_filt.info())

print("checking it out")
display(dataset.head(5))
display(dataset_filt.head(5))

original dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2504267 entries, 0 to 2504266
Columns: 115 entries, 0 to 114
dtypes: float64(115)
memory usage: 2.1 GB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2504267 entries, 0 to 2504266
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   x           float64
dtypes: float64(1), int64(1)
memory usage: 38.2 MB

None

new with IQR outlier filtering:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2019085 entries, 118087 to 2504266
Columns: 115 entries, 0 to 114
dtypes: float64(115)
memory usage: 1.7 GB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2019085 entries, 118087 to 2504266
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   x           float64
dtypes: float64(1), int64(1)
memory usage: 46.2 MB

None

checking it out

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
0,1.000000,1294.0,0.000000e+00,1.000000,1294.0,0.000000e+00,1.000000,1294.0,0.000000e+00,1.000000,...,0.000000e+00,0.0,0.0,1.000000,1294.0,0.000000,1294.0,0.000000e+00,0.0,0.0
1,1.000000,1514.0,0.000000e+00,1.000000,1514.0,0.000000e+00,1.000000,1514.0,0.000000e+00,1.000000,...,0.000000e+00,0.0,0.0,1.000000,1514.0,0.000000,1514.0,0.000000e+00,0.0,0.0
2,1.999505,1294.0,6.984919e-10,1.999703,1294.0,2.328306e-10,1.999901,1294.0,6.984919e-10,1.999990,...,0.000000e+00,0.0,0.0,1.999999,1294.0,0.000000,1294.0,0.000000e+00,0.0,0.0
3,2.998985,1294.0,9.313226e-10,2.999391,1294.0,4.656613e-10,2.999797,1294.0,6.984919e-10,2.999980,...,6.984919e-10,0.0,0.0,2.999998,1294.0,0.000015,1294.0,2.328306e-10,0.0,0.0
4,3.998061,1294.0,9.313226e-10,3.998836,1294.0,2.328306e-10,3.999612,1294.0,6.984919e-10,3.999961,...,2.328306e-10,0.0,0.0,3.999996,1294.0,0.000000,1294.0,0.000000e+00,0.0,0.0

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
118087,443.553389,1358.248335,170736.270112,693.275693,1348.981299,176723.276790,1986.051490,1339.954812,182549.088725,19283.947855,...,181112.409721,0.0,0.0,9187.234080,1341.653779,424.711358,1341.653779,180379.737563,0.0,0.0
118088,444.321085,1358.598873,170406.480933,694.057814,1349.219059,176507.831712,1986.843414,1340.042410,182472.448257,19284.745810,...,181057.607484,0.0,0.0,9188.224455,1341.672536,424.692051,1341.672536,180363.338339,0.0,0.0
118089,445.056455,1358.948045,170077.733353,694.809764,1349.456218,176292.817243,1987.606692,1340.129932,182395.860454,19285.516030,...,181002.836457,0.0,0.0,9189.213507,1341.691289,424.672747,1341.691289,180346.941961,0.0,0.0
118090,445.886955,1359.295783,169750.093039,695.650981,1349.692750,176078.259821,1988.455273,1340.217371,182319.328553,19286.369105,...,180948.096851,0.0,0.0,9190.206506,1341.710038,424.653445,1341.710038,180330.548436,0.0,0.0
118091,446.630231,1359.642164,169423.491132,696.410635,1349.928685,175864.133060,1989.226244,1340.304733,182242.849515,19287.146955,...,180893.388428,0.0,0.0,9191.195920,1341.728783,424.634146,1341.728783,180314.157757,0.0,0.0

In [40]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import model_selection
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import mean_squared_error as mse

x_train, x_test, y_train, y_test = train_test_split(dataset_filt, dataset_L_filt.drop('Unnamed: 0', axis=1))

In [41]:
logreg = LogisticRegression(multi_class='ovr', solver='lbfgs', n_jobs=11)
logreg.fit(x_train, y_train.values.ravel())

y_pred = logreg.predict(x_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(x_test, y_test)))

y_tr_pred = logreg.predict(x_train)
print('Training Mean Absolute Error', mse(y_tr_pred,y_train))

print("Testing MSE = ", mse(y_pred,y_test))

Accuracy of logistic regression classifier on test set: 0.50
Training Mean Absolute Error 0.4949624020925661
Testing MSE =  0.4961764915645083

In [42]:
logreg_cv_score = cross_val_score(logreg, dataset_filt, dataset_L_filt.drop('Unnamed: 0', axis=1), cv=10, scoring='roc_auc', n_jobs=10)

print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))
print("\nAll AUC Scores:\n", logreg_cv_score)
print("Mean AUC Score - Logistic Regression:\n", logreg_cv_score.mean())

Confusion Matrix:
[[254316      0]
 [250456      0]]

Classification Report:

C:\Users\nickn\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

         0.0       0.50      1.00      0.67    254316
         1.0       0.00      0.00      0.00    250456

    accuracy                           0.50    504772
   macro avg       0.25      0.50      0.34    504772
weighted avg       0.25      0.50      0.34    504772


All AUC Scores:
 [0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5]
Mean AUC Score - Logistic Regression:
 0.5

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier
import statsmodels.api as sm

aa=0
ii=23

list_new_etc = []
feature_list_etc = []

for i in range(5):
    test = ExtraTreesClassifier(n_jobs=12)
    fit = test.fit(x_train.iloc[:,aa:ii], y_train.values.ravel())
    
    feat_importances = pd.Series(fit.feature_importances_, index=x_train.iloc[:,aa:ii].columns)
    
    print(feat_importances.nlargest(2))
    
    best = feat_importances.nlargest(2)
    
    list_new_etc=best.index.tolist()  

    feature_list_etc+=list_new_etc
    
    aa+=23
    ii+=23

print("\nFeature Selection done by ExtraTreesClassifier: ")
print(feature_list_etc)

12    0.386898
13    0.201782
dtype: float64
27    0.539213
28    0.167572
dtype: float64
58    0.289542
63    0.190848
dtype: float64
78    0.321581
79    0.313260
dtype: float64

In [ ]:
x1_train, x1_test, y1_train, y1_test = train_test_split(dataset_filt.iloc[:,feature_list_etc], dataset_L_filt.drop('Unnamed: 0', axis=1))

logreg1 = LogisticRegression(multi_class='ovr', solver='lbfgs', n_jobs=11)
logreg1.fit(x1_train, y1_train.values.ravel())

y1_pred = logreg1.predict(x1_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg1.score(x1_test, y1_test)))

y1_tr_pred = logreg1.predict(x1_train)
print('Training Mean Absolute Error', mse(y1_tr_pred,y1_train))

print("Testing MSE = ", mse(y1_pred,y1_test))

In [ ]:
logreg1_cv_score = cross_val_score(logreg1, dataset_filt.iloc[:,feature_list_etc],dataset_L_filt.drop('Unnamed: 0', axis=1), cv=10, scoring='roc_auc', n_jobs=11)

print("Confusion Matrix:")
print(confusion_matrix(y1_test, y1_pred))
print("\nClassification Report:")
print(classification_report(y1_test, y1_pred))
print("\nAll AUC Scores:\n", logreg1_cv_score)
print("Mean AUC Score - Logistic Regression:\n", logreg1_cv_score.mean())

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from numpy import set_printoptions
import heapq

aa=0
ii=23

list_new_skb = []
feature_list_skb = []

for i in range(5):
    test = SelectKBest(score_func=f_classif, k=2)
    fit = test.fit(x_train.iloc[:,aa:ii], y_train.values.ravel())
    scores = pd.DataFrame(fit.scores_)
    index = pd.DataFrame(x_test.columns)
    
    featureScores = pd.concat([index,scores],axis=1)
    featureScores.columns = ['Specs','Score'] 
    print(featureScores.nlargest(2,'Score'))  
    
    best=featureScores.nlargest(2,'Score')
    
    list_new_skb=best['Specs'].values.tolist()
    list_new_skb[0]+=aa
    list_new_skb[1]+=aa    

    feature_list_skb+=list_new_skb
    
    aa+=23
    ii+=23

print("\nFeature Selection done by SelectKBest: ")
print(feature_list_skb)

In [ ]:
x2_train, x2_test, y2_train, y2_test = train_test_split(dataset_filt.iloc[:,feature_list_skb], dataset_L_filt.drop('Unnamed: 0', axis=1))

logreg2 = LogisticRegression(multi_class='ovr', solver='lbfgs', n_jobs=11)
logreg2.fit(x2_train, y2_train.values.ravel())

y2_pred = logreg2.predict(x2_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg2.score(x2_test, y2_test)))

y2_tr_pred = logreg1.predict(x2_train)
print('Training Mean Absolute Error', mse(y2_tr_pred,y2_train))

print("Testing MSE = ", mse(y2_pred,y2_test))

In [ ]:
logreg2_cv_score = cross_val_score(logreg2, dataset_filt.iloc[:,feature_list_skb],dataset_L_filt.drop('Unnamed: 0', axis=1), cv=10, scoring='roc_auc', n_jobs=11)

print("Confusion Matrix:")
print(confusion_matrix(y2_test, y2_pred))
print("\nClassification Report:")
print(classification_report(y2_test, y2_pred))
print("\nAll AUC Scores:\n", logreg2_cv_score)
print("Mean AUC Score - Logistic Regression:\n", logreg2_cv_score.mean())